{% extends 'base.html.twig' %}

{% block body %}
    <h3>
        Products
    </h3>
    <div class="count">
        total items count - {{ pagination.getTotalItemCount }}
    </div>
    <table>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</th>
            <th{% if pagination.isSorted('p.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'p.name') }}</th>
            <th>Price</th>
            <th>Action</th>
        </tr>

        {% for product in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price.getReadableAmount }}</td>
                <td>
                    <a href="{{ path('pay', {'productId': product.id}) }}">
                        Buy
                    </a>
                    <a href="{{ path('pay-click', {'productId': product.id}) }}">
                        Buy 1 click
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
